html,
body,
* {
  padding: 20px;
  margin: 0;
  box-sizing: border-box;

  color: rgb(240, 144, 144);
  font-family: 'Lexend', sans-serif;
  text-align: center;
}

body {
  background-image: url("chiikawa ending screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2{
  font-size: 50px;
}

.card p{
  font-size: 20px;
}

.card h1{
  font-size: 70px;
}